@import url(https://fonts.googleapis.com/css?family=Open+Sans);

code {
  background-color:#eff0f1;
  display: block;
  color:#7d2927;
  padding:0.4em;
  overflow:auto
}

p code {
  background-color:#eff0f1;
  display: inline;
  color:#7d2927;
  padding:0.4em
}

.comments code {
  background-color:#eff0f1;
  display: inline;
  color:#7d2927;
  padding:0.4em
}

ol li{
  padding: 0.6em;
  width: 9.2em;
  font-size: 14px;
  color:#666;
}

@media only screen and (max-width: 1680px) {
  ol li{
    width:10em
  }
}